[Unit]
After=serve.service
Requires=serve.service

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
RestartSec=5
ExecStart=/home/{{ kiosk_user }}/kiosk.sh

[Install]
WantedBy=graphical-session.target
