[defaults]
inventory = inventory/hosts.ini
remote_user = root
host_key_checking = False
interpreter_python = auto_silent
vault_password_file = .vaultpass

[ssh_connection]
pipelining = True
# ssh_args = -J space.hal9k.dk -o StrictHostKeyChecking=no
